<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="css/st1.css">
</head>

<body>
	<div id="header"></div>
	<div id="navigater"></div>
	<div id="content">
		<form action="add" method="post">
			<table border="1" align="center" width="400">
				<tr>
					<td colspan="2" align="center">會員基本資料

				</tr>
				<tr>
					<td>帳號:
					<td><input type="text" name="username">
				</tr>
				<tr>
					<td>密碼:
					<td><input type="password" name="password">
				</tr>
				<tr>
					<td>姓名:
					<td><input type="text" name="name">
				</tr>
				<tr>
					<td>住址:
					<td><input type="text" name="address">
				</tr>
				<tr>
					<td>行動:
					<td><input type="text" name="phone">
				</tr>
				<tr>
					<td>電話:
					<td><input type="text" name="mobile">
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" value="確認">
				</tr>
			</table>
		</form>
	</div>
	<div id="footer"></div>

</body>

</html>